<h1 class="title">Overview</h1>
<div class="row bottom-margin">
    <div class="col-lg-6">
        <div class="row-sm-3 bottom-margin">
        <div class="tab-info">
            <div id="serverfileimage"></div>
            <div class="tab-title">
            Data Plane
            </div>
            <div class="tab-details">
                <span>Data Nodes (2)</span><br>
                <span class="label label-success">✓</span><span class="separator"> 1 </span>
                <span class="label label-warning">!</span><span class="separator"> 2 </span>
                <span class="label label-danger">☓</span><span class="separator"> 0 </span>
            </div>
            <br>
            <div class="progress">
                <a href="#" data-toggle="tooltip" title="20% used">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:20%">
                    <span class="sr-only">20% Complete</span>
                </div>
                </a>
            </div>
            <div class="space">
                <span class="label label-primary noword">u</span><span class="separator"> Used </span>
                <span class="label label-free">f</span><span class="separator"> Free </span>
            </div>
        </div>
        </div>
        <div class="row-sm-3 bottom-margin">
        <div class="tab-info">
            <div id="serverimage"></div>
            <div class="tab-title">
            Computer Plane
            </div>
            <div class="tab-details">
                <span>Computer Nodes (1)</span><br>
                <a href="#" title="Header" data-toggle="popover" data-placement="left" data-content="Content" style="text-decoration: none;"><span class="label label-success">✓</span><span class="separator"> 1 </span></a>
                <a href="#" title="Header" data-toggle="popover" data-placement="left" data-content="Content" style="text-decoration: none;"><span class="label label-warning">!</span><span class="separator"> 0 </span></a>
                <a href="#" title="Header" data-toggle="popover" data-placement="left" data-content="Content" style="text-decoration: none;"><span class="label label-danger">☓</span><span class="separator"> 0 </span></a>
            </div>
            <br>
            <div class="progress">
                <a href="#" data-toggle="tooltip" title="70% used">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    <span class="sr-only">70% Complete</span>
                </div>
                </a>
            </div>
            <div class="space">
                <span class="label label-primary noword">u</span><span class="separator"> Used </span>
                <span class="label label-free">f</span><span class="separator"> Free </span>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-6 bottom-margin">
        <div class="tab">
        <h2 class="tab-title">Alerts</h2>
        <div class="alertdiv">
            <span>No alerts found</span><br>
            <span>Everything looks good here!</span>
        </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
        <div class="allnodetab">
            <div class="tab-title">All Nodes</div>
            <div style="height: 140px; width: 100%;">
                <div id="parent">
                    <canvas id="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>